<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Accessibility Debate</h1>
  </div>
</div>
<div class="container">
  <form class="form" action="/addToList" method="get">
    <label class="input-group-lg mb-3 lb-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">Enter Questions Here:</span>
      </div>
      <input type="text" name="question" class="form-control " aria-label="Question Input" aria-describedby="Type your question here" required>
    </label>
    <div>
      <label class="lb-lg">Who is this for?</label>
      <select class="form-control " id="exampleFormControlSelect1" name="for" value="Both">
        <option>Pro</option>
        <option>Con</option>
        <option>Both</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary submit">Submit</button>
  </form>
  <hr>
  <table class="table">
    <thead>
      <th>Question</th>
      <th>For</th>
    </thead>
    <tbody id="tbody">
    </tbody>
  </table>
</div>

<script>
  const getList = () => {
    return fetch("/list")
      .then(res => res.json())
      .then(array => fillTable(array))
      .catch(err => console.log(err, "err"))
  }

  const fillTable = (list) => {
    const tableBody = $("#tbody")
    list.forEach(element => {
      tableBody.append(`<tr><td>${element.question}</td><td>${element.for}</td></tr>`)
    })
  }

  getList()
  // setInterval(getList, 1000);
</script>


</body>
</html>
